body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color:#fcf5e8;
}

h1 {
    color: #deb3f5;
    text-shadow: 2px 2px	#b3f5de;
}

p {
    color: #b3caf5;
    margin-top: -20px;
}

.game-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#game-board {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    width: 300px;
    height: 300px;
}

.board-cell {
    display: flex;
    width: 100px;
    height: 100px;
    align-items: center;
    justify-content: center;
    /* border: 15px black; */
    background: #fefbf7;
    font-size: 5rem;
    font-weight: bold;
    border: 2px solid #494235;
    color: #006400; 
}

#btn-restart {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #f5bdb3;
    background-color: whitesmoke;
    margin: 40px;
}